@model IEnumerable<LorcanaCardCollector.Models.Deck>

@{
    ViewData["Title"] = "Index";
}

<h1 class="freckle-font" style="color: #d5b88b; opacity: 0.9;">Decks</h1>

<div class="bg-opacity-70 rounded shadow-sm" style="background: #d5b88b;">

    <p>
        <a asp-action="Create" class="m-sm-2 btn btn-primary rounded-2">Create New</a>
    </p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeckName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeckDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccessKey)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeckName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeckDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccessKey)
            </td>
                    <td>
                        <a asp-action="Edit" class="btn btn-secondary me-sm-2 text-light" asp-route-id="@item.DeckId">Edit</a>
                        <a asp-action="Details" class="btn btn-secondary me-sm-2 text-light" asp-route-id="@item.DeckId">Details</a>
                        <a asp-action="Delete" class="btn btn-danger me-sm-2 text-light" asp-route-id="@item.DeckId">Delete</a>
                    </td>
        </tr>
}
    </tbody>
</table>
</div>