@model IEnumerable<LorcanaCardCollector.Models.Deck>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeckName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeckDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccessKey)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeckName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeckDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccessKey)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DeckId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DeckId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DeckId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
