@model LorcanaCardCollector.Models.Cards

@{
    ViewData["Title"] = "Add Card";
}

<h1 class="freckle-font" style="color: #d5b88b">Add Card</h1>
<hr />

<div class="bg-opacity-70 rounded shadow-sm p-3" style="background: #d5b88b;">
    <h5>Search Lorcana API for Cards</h5>
    <div class="row text-light">
        <div class="col-md-8 p-4 text-dark">

            <div class="input-group">
                <input id="searchInput" type="text" class="form-control" placeholder="Search by card name..." />
                <button id="searchBtn" type="button" class="btn btn-primary ms-2">Search</button>
            </div>

            <hr />

            <div id="searchResults" class="list-group scrollable-search-results" style="display:none; cursor:pointer;">
            </div>
        </div>
        <div class="col-md-4 p-4 text-dark">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group mb-sm-2">
                    <input asp-for="CardName" class="form-control" placeholder="Select a card" readonly />
                    <span asp-validation-for="CardName" class="text-danger"></span>
                </div>
                @Html.HiddenFor(model => model.CardId)
                @Html.HiddenFor(model => model.Franchise)
                @Html.HiddenFor(model => model.Image_URL)
                @Html.HiddenFor(model => model.SetName)
                @Html.HiddenFor(model => model.Ink)
                @Html.HiddenFor(model => model.Willpower)
                @Html.HiddenFor(model => model.Strength)

                <div class="form-group mb-sm-2">
                    <select asp-for="GemColor" id="GemColor" class="form-control visually-hidden" asp-items="Html.GetEnumSelectList<GemColor>()">
                        <option value="">Gem Color(s)</option>
                    </select>
                    <span asp-validation-for="GemColor" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary me-sm-3" formnovalidate />
                    <a asp-action="Index" class="btn btn-secondary text-light">Back to List</a>
                </div>
            </form>
        </div>


    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script type="module">
        import { attachCardSearch } from "/js/LorcanaApiHelper.js";

        // Attach search functionality for this view
        attachCardSearch("searchInput", "searchBtn", "searchResults");
    </script>
}